body {
    background: #57AEC0;
}

button {
    margin: 10px;
}

.form-droppable {
    margin: 10px;
    background: rgba(230, 255, 87, 0.64);
    height: 80px;
    border-radius: 5px;
    padding: 10px;
}

.item-draggable,
.form-draggable,
.field-draggable {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
}

.form-ui {
    margin: 10px;
    border: 0px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.side-form,
.main-form {
    float: left
}

.side-form {
    width: 40%;
}

.main-form {
    width: 60%;
}

.addcontrol {
    position: relative;
}

.closable {
    float: right;
    margin-left: 2px;
    margin-right: 2px;
}

.editable {
    float: right;
    margin-left: 2px;
    margin-right: 2px;
}

.closable-form {
    float: right;
    margin-top: -35px;
    margin-left: 2px;
    margin-right: 2px;
}

.editable-form {
    float: right;
    margin-top: -35px;
    margin-left: 2px;
    margin-right: 45px;
}

.empty {
    border: 3px dotted gray;
    border-radius: 15px;
    height: 300px;
    margin: 10px;
    padding: 50px;
}